@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  text-align: center;
  font-family: Roboto, sans-serif;
}
#main {
  width: 75%;
  padding: 0% 10% 0% 10%;
  display: inline-block;
}
#catch {
  margin: 10px;
}
#image {
  max-width: 50%;
  display: block;
  height: auto;
  margin: auto;
}
#img-caption {
  margin: 10px;
}
#timeline {
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 10px;
}
#timeline {
  text-align: center;
}
li {
  text-align: left;
  padding: 0px 20% 10px 20%;
  list-style-type: circle;
}
.header {
  font-size: 1.25em;
  text-align: center;
  padding: 10px;
}
.txt {
  text-align: left;
  text-indent: 1em;
}
h3 {
  padding: 25px;
}
