body {
  display: flex;
}
header {
  font-size: 1.75rem;
  font-weight: 700;
  margin-left: 25px;
}
p {
  margin-left: 50px;
}
ul {
  margin-left: 50px
}
code {
  margin-left: 75px;
  padding: 20px;
  display: inline-block;
  background-color: #EFEFEF;
  border-radius: 10px;
  font-size: 0.85rem
}
.main-section {
  margin: 10px 50px 
}
#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  border-right: solid;
  text-align: center;
  font-size: 1.5rem
}
#navbar header {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2.5rem;
}
#navbar a {
  color: black;
  text-decoration: none;
  display: block;
  border-top: 1px solid;
  padding-top: 30px;
}
#main-doc {
  margin-left: 250px;
}
@media (max-width: 1000px) {
  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 200px;
    border: none;
    border-bottom: 2px solid;
    overflow: scroll;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}
